<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!--  filters -->
	<filter>
		<filter-name>AuthFilter</filter-name>
		<filter-class>com.anteboth.agrisys.server.AuthServlet</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthFilter</filter-name>
		<url-pattern>/agrisys/*</url-pattern>
	</filter-mapping>
 	<filter-mapping>
		<filter-name>AuthFilter</filter-name>
		<url-pattern>/service/*</url-pattern>
	</filter-mapping>
	<!-- filter-mapping>
		<filter-name>AuthFilter</filter-name>
		<url-pattern>/backup/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthFilter</filter-name>
		<url-pattern>/backupMail/*</url-pattern>
	</filter-mapping-->	
		
	<filter-mapping>
		<filter-name>AuthFilter</filter-name>
		<url-pattern>/report/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthFilter</filter-name>
		<url-pattern>/mobile/*</url-pattern>
	</filter-mapping>

	<!-- Servlets -->
	<servlet>
		<servlet-name>agrisysServlet</servlet-name>
		<servlet-class>com.anteboth.agrisys.server.AgrisysServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>agrisysServlet</servlet-name>
		<url-pattern>/agrisys/*</url-pattern>
	</servlet-mapping>

	<!-- REST Servlet -->
	<servlet>
		<servlet-name>RestletServlet</servlet-name>
		<servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
		<init-param>
			<param-name>org.restlet.application</param-name>
			<param-value>com.anteboth.agrisys.service.AgrisysRestApplication  </param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>RestletServlet</servlet-name>
		<url-pattern>/service/*</url-pattern>
	</servlet-mapping>
	
	<!-- StartupServlet -->
	<servlet>
  		<servlet-name>StartupServlet</servlet-name>
  		<servlet-class>com.anteboth.agrisys.server.StartupServlet</servlet-class>
  		<load-on-startup>1</load-on-startup>
	</servlet>
 	<servlet-mapping>
  		<servlet-name>StartupServlet</servlet-name>
  		<url-pattern>/Startup</url-pattern>
	</servlet-mapping>

	<!-- Backup Servlet -->
	<servlet>
		<servlet-name>backupServlet</servlet-name>
		<servlet-class>com.anteboth.agrisys.server.BackupServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>backupServlet</servlet-name>
		<url-pattern>/backup/*</url-pattern>
	</servlet-mapping>
	
	<!-- BackupMail Servlet -->
	<servlet>
		<servlet-name>backupMailServlet</servlet-name>
		<servlet-class>com.anteboth.agrisys.server.BackupMailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>backupMailServlet</servlet-name>
		<url-pattern>/backupMail/*</url-pattern>
	</servlet-mapping>
	
	<!-- ReportServlet -->
	<servlet>
		<servlet-name>reportServlet</servlet-name>
		<servlet-class>com.anteboth.agrisys.server.ReportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>reportServlet</servlet-name>
		<url-pattern>/report/*</url-pattern>
	</servlet-mapping>
	

	<!-- mime type mapping -->
	<mime-mapping>
		<extension>manifest</extension>
		<mime-type>text/cache-manifest</mime-type>
	</mime-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!--  security settings -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>agrisys</web-resource-name>
			<url-pattern>/agrisys/*</url-pattern>
    		<url-pattern>/report/*</url-pattern>
		    <url-pattern>/service/*</url-pattern> 
    		<url-pattern>/mobile/*</url-pattern>
		<!-- 	
    		<url-pattern>/backup/*</url-pattern>
    		<url-pattern>/backupMail/*</url-pattern>    
    		--> 
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>

</web-app>